<%- if controller_name != 'sessions' %>
  <div class="text-start mt-3">
    <%= link_to "ログインはこちら", new_session_path(resource_name), class: "text-muted small text-decoration-none" %>
  </div>
<% end %>
