<% if user_signed_in? %>
  <%= form_with url: search_feature_path, method: :get do |f| %>
    <div class="input-group mr-5">
      <%# 検索キーワード  %>
      <%= f.text_field :word, placeholder: "ユーザー、投稿、グループを検索" %>

      <%# 検索対象のモデルを選択  %>
      <%= f.select :model, 
          options_for_select({
          "すべて" => "", 
          "ユーザー" => "user",
          "投稿" => "post",
          "グループ" => "group",
          }) %>

      <%# 検索ボタン  %>
      <%= f.submit "検索" %>
    </div>
  <% end %>
<% end %>