<h1>管理者ダッシュボード</h1>

<%# グラフ作る→時間が合ったら %>
<div>
  <p>登録ユーザー数： <%= User.count %> 人</p>
  <p>投稿数： <%= Post.count %> 件</p>
  <p>コメント数： <%= Comment.count %> 件</p>
  <p>グループ数： <%= Group.count %> 件</p>
</div>

<%# トップページに「重要なお知らせ」や「最新の活動ログ」などリンク以外のコンテンツを追加する %>
<%# 例えば、新規登録ユーザーや最近の投稿一覧、システム通知など、管理者が目を通したい情報を掲載する。%>
