<!-- 投稿一覧 -->
<div class="card mt-4">
  <div class="card-body">
    <h3>最近の投稿</h3>


    <% if @user.posts.any? %>
      <ul class="list-group">
        <% @user.posts.order(created_at: :desc).limit(5).each do |post| %>
          <li class="list-group-item">
            <%= link_to post.title, post_path(post), class: "fw-bold text-decoration-none" %>
            <small class="text-muted d-block">投稿日: <%= l(post.created_at, format: :short) %></small>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>まだ投稿がありません。</p>
    <% end %>
  </div>
</div>
