<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm rounded-3">
        <div class="card-header bg-danger text-white text-center">
          <h4 class="mb-0">退会確認</h4>
        </div>
        <div class="card-body text-center">
          <p class="fs-5 mb-4">本当に退会しますか？<br>退会するとログインできなくなります。</p>

          <div class="d-flex justify-content-center">
            <%= link_to "退会しない", mypage_path, class: "btn btn-secondary", style: "width: 150px; margin-right: 16px;" %>
            <%= link_to "退会する", users_withdraw_path, method: :patch, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger", style: "width: 150px;" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
