<!-- フッター -->
<footer style="background-color: #d0e8d0;" class="text-dark py-3 border-top shadow-sm">
  <div class="container text-center">
    <small class="d-block mt-2">&copy; 2025 NatureGuide All rights reserved.</small>
  </div>
</footer>